.cardStyle {
  height: 90px;
  border: solid 2px transparent;
  border-radius: 4px 0 0 4px;
  background-color: var(--color-gray-100);
  
  display: flex;
  gap: 1.6rem;
  
}

.tag {

  width: 4px;
  height: 100%;
  background-color: var(--color-secondary);

}

.content {

  flex-grow: 1;
  padding: 1rem;

}

.btnBox {
  gap: .5rem;
}