:root {

  --color-primary: #FD377E;
  --color-primary-2: #E34981;
  --color-secondary: #03B898;
  --color-gray-100: #F8F9FA;
  --color-gray-200: #E9ECEF;
  --color-gray-300: #868E96;
  --color-gray-400: #212529;

  font-size: 62.5%;

}

body * {

  font-family: "Nunito", sans-serif;

  box-sizing: border-box;

}

body {

  background-color: #FFFFFF;
  height: 100vh;

}

main {

  margin-bottom: 124px;

}