%defaultInput {

  padding: 0 16px;
  height: 52px;

  border: solid 2px transparent;
  border-radius: 8px;
  background-color: var(--color-gray-100);

  &::placeholder {

    color: var(--color-gray-300);

  }

  &:focus {

    outline: none;
    border: solid 2px var(--color-gray-400);
    background-color: #FFFFFF;
    color: var(--color-gray-400);

  }

}

.formInput {

  @extend %defaultInput;

}