%title {
  
  font-weight: bold;
  &.black {
    color: var(--color-gray-400);
  }
  &.gray {
    color: var(--color-gray-300);
  }
  &.primary {
    color: var(--color-primary);
  }

}

.title1 {

  @extend %title;
  font-size: 3.8rem;

}

.title2 {
  
  @extend %title;
  font-size: 2.2rem;

}

.title3 {

  @extend %title;
  font-size: 1.6rem;

}

.title4 {

  @extend %title;
  font-size: 1.2rem;

}

%regular {

  font-weight: normal;
  &.black {
    color: var(--color-gray-400);
  }
  &.gray {
    color: var(--color-gray-300);
  }

}

.headline {

  @extend %regular;
  font-size: 1.6rem;

}

.body {

  @extend %regular;
  font-size: 1.2rem;

}